{% extends 'admin/base.html.twig' %}
{% block body%}
<main>
<h1>Modifie ta recette</h1>
{{form_start(formulaire_modif)}}
{{form_rest(formulaire_modif)}}
<input type="submit" value='Modifie'>
{{form_end(formulaire_modif)}}

</main>
 {% endblock %}